.menueventos{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    padding: 4% 4%;
    font-size: 200%;
    background-color: #729D39 !important;
    border: #729D39;
    
}

.imgLogo {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    width: 30%;
    border-radius: 5%;
    
}