@font-face {
    font-family: Titulo;
    src: url(./Titulo.ttf);
}
.menueventos{
    /* Centrar */
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;

    /* padding: 40px 40px; */
    line-height: 20%;
    font-size: 200%;
    background-color: #729D39 !important;
    border: #729D39;
    width: 16vw;
    height: 15vh;
}
.Titulo{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;

    font-size: 410%;
    font-family: Titulo;
    color: #467a39;
}
i.material-icons {
    vertical-align: middle;
}

.invisibleButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
/* .invisibleButton:hover{
    background: transparent;
    border: none !important;
    font-size:0;
} */

i.iconColor{
    color: #467a39;
    font-size: 300%;
    cursor: pointer;
}

#video {
    position: fixed;
    z-index: -1;
    width: 80%;
    top: 1%;
    left: 10%;
    margin: auto;
    border-radius: 20px;
}

.cont {
    position: absolute;
    padding:0;
    margin:0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color:green;
    background: -webkit-linear-gradient(left, green, rgb(196, 221, 163)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, green, rgb(196, 221, 163)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, green, rgb(196, 221, 163)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, green, rgb(196, 221, 163)); /* Standard syntax (must be last) */
}